<div class="container mt-5">
  <div>
    <h2 class="tituloTabla">Lista de películas</h2>
  </div>
  <div class="estiloBuscador">
    <input matInput [(ngModel)]="buscador" (input)="buscar()"
      placeholder="🕵️‍♂️ Ingresa el título de la película" class="styled-input"/>
  </div>
  <div class="table-container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="table-header">ID</th>
          <th class="table-header">Título</th>
          <th class="table-header">Año</th>
          <th class="table-header">Poster</th>
          <th class="table-header">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of paginaPeliculas; let i = index">
          <td>{{ movie.idPelicula }}</td>
          <td>{{ movie.Title }}</td>
          <td>{{ movie.Year }}</td>
          <td><img [src]="movie.Poster" alt="{{ movie.Title }}" width="100" /></td>
          <td>
            <button mat-raised-button color="primary" (click)="abrirModal(movie)" class="action-btn">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="abrirEditModal(movie)" class="action-btn">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="abrirEliminarModal(movie)" class="action-btn">
              <mat-icon>delete</mat-icon>
            </button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container text-center mt-3">
    <paginacion [length]="peliculas.length" [pageSize]="paginacionInicial"
      [pageSizeOptions]="[5, 10, 50, 100]"(page)="onPageChange($event)"></paginacion>
  </div>
</div>
<!--modal de detalles-->
<ng-template #modalDetalles>
  <mat-card class="modal">
    <mat-card-header>
      <mat-card-title>{{ peliculaSeleccionada?.Title }}</mat-card-title>
      <mat-card-subtitle>Año: {{ peliculaSeleccionada?.Year }}</mat-card-subtitle>
      <mat-card-subtitle>Tipo: {{ peliculaSeleccionada?.Type }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <img [src]="peliculaSeleccionada?.Poster" alt="{{ peliculaSeleccionada?.Title }}"
        />
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="cerrarModal()">
        Cerrar
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<!--Editar-->
<ng-template #modalEditar>
  <mat-card class="modal">
    <mat-card-title >Editar película</mat-card-title>
    <mat-card-content>
      <form class="formularioEditar">
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input matInput type="text" [(ngModel)]="editMovie.Title" name="titulo" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Año</mat-label>
          <input matInput type="text" [(ngModel)]="editMovie.Year" name="año" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <input matInput type="text" [(ngModel)]="editMovie.Type" name="tipo" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="cerrarEditModal()">Cancelar</button>
      <button mat-flat-button (click)="guardarCambios()">Guardar</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<!-- Modal de Confirmación para Eliminar -->
<ng-template #modalConfirmarEliminacion>
  <mat-card class="modal">
    <mat-card-title>¿Estás seguro de que deseas eliminar esta película?</mat-card-title>
    <mat-card-content>
      <p>Título: <strong>{{ peliculaEliminada?.Title }}</strong></p>
      <p>Año: <strong>{{ peliculaEliminada?.Year }}</strong></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="cerrarEliminarModal()">Cancelar</button>
      <button mat-flat-button  (click)="confirmEliminacion()">Eliminar</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

